extends layout 

block content 
 h1 #{title}: #{category.name}
 if itemsInCategory.length > 0
    p #[strong Please Delete or Remove the following items from this category]
     h4 Items: 
     ul
     each item in itemsInCategory 
      li 
        a(href=item.url) #{item.name}

 else
    p Do you reall want to delete this category ? 

    form(method='POST')
     div 
      input(type='hidden',name='categoryid', value=category._id)
     div.form-group
      label(for='password') Password:
      input(type='password', name='password',id="password", required)
     button(type='submit') Delete

    if errors 
     ul 
     for error in errors
      li!= error.msg

     