extends layout 

block content 

    h1 Item: #{item.name}
    p #[strong Description] #{item.description}
    if item.category.length > 0
    p #[strong Categories ]
        each category, index in item.category
          a(href= category.url) #{category.name}
          if index < item.category.length -1
           |,&nbsp;
        else 
         p No Category assigned.
    p #[strong Unit Price] #{item.price}
    p #[strong Stock] #{item.stock}
    if(item.image_mime_type)
     img(alt=item.name, src='/images/'+item._id+"."+item.image_mime_type)
    p
    a(href=item.url+'/update') Update Item
    p
    a(href=item.url+'/delete') Delete Item
    